*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0 200px 0;
}

.logoback{
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: #4EA0FF;
    position: relative;
}

.logo{
    content: url(../img/logo.svg);
    position: absolute;
    width: 25%;
    bottom: 0;
}

.main-images span{
    margin-top: 30px;
    height: 400px;
}

.main-image1{
    content: url(../img/tim-1.jpg);
}

.main-image2{
    content: url(../img/tim-2.jpg);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.fimages{
    color: white;
    height: 200px;
    background-repeat: no-repeat;
}

.fimage1{
    background-image: url(../img/monitor.jpg);


}

.fimage2{
    background-image: url(../img/graph.jpg);
}

thead{
    background-color: #4EA0FF;
}

.bluerow{
    background-color: lightskyblue;
}

h2{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0;
}

ul{
    padding-left: 20px;
    margin-bottom: 20px;
}

.highlitedblue{
    color: lightskyblue;
}
.highlitedyellow{
    background-color: yellow;
}
h4{
    color: grey;
}
.bigdata{
    width: 50%;
}

.secondtext{
    margin-top: 10px;
}

.smalltxt{
    font-size: 10px;
}